
.footer {
}
.footer__authors {
}
.footer__authors-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    text-decoration: none;
}
.footer__author-column {

}

.footer__author-column{
    
}

.footer__author-link{
    text-decoration: none;
    font-size: 17px;
}