
.footer {
    z-index: 10;
    padding-top: 20px;
    margin-bottom: 50px;
    border-top: 2px solid var(--night-color);
    backdrop-filter: blur(5px);
}
.footer__authors {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}
.footer__authors-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    text-decoration: none;
}
.footer__author-column {

}

.footer__author-column{
    
}

.footer__author-link{
    text-decoration: none;
    font-size: 18px;
    color: var(--night-color);
    font-weight: 500;
}

.footer__text{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-top: 25px;
}