
.links-list__label {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.links-list {
    position: relative;
    padding: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    max-width: 550px;
    justify-content: space-between;
    box-sizing: border-box;
}
.links-list__link {
    text-decoration: none;
    font-size: 17px;
    color: var(--night-color);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.links-list__item {
    transition: 0.3s ease;
}
.links-list__item:hover {
    transform: scale(110%);
}

/* .links-list__link:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    border-radius: 5px;
} */

.links-list__link::after{
}

.links-list__link::before{
    
}

.links-list__link::before, .links-list__link::after {
    content: "";
    position: absolute;
    display: flex;
    height: 2px;
    width: 0px;
    transition: 0.1s ease;
    left: 50%;
    transform: translateX(-50%);
}

.links-list__link:hover::after,
.links-list__link:hover::before{
    background-color: var(--night-color);
    width: 100%;
}

.links-list__link::after {
    border-radius: 0 0 4px 4px;
    top:120%;
}
.links-list__link::before{
    border-radius: 4px 4px 0 0;
    bottom:110%;
}

.links-list__link:hover::after {
}
.links-list__link:hover::before{
}