.send-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.send-message__container {
    max-width: 600px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    border-radius: 6px;
    transition: 0.2s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
}
.send-message__container:has(*:focus) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}
.send-message__to-whom {
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    border-radius: 6px 6px 0 0;
    border: 0;
    border-bottom: 2px solid var(--blend-color);
    outline: none;
    transition: 0.2s ease;
    font-size: 16px;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.529);
}

.send-message__to-whom-selected {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 100%;
    top: 0;
    align-items: center;
    padding: 3px;
    padding-left: 3px;
    box-sizing: border-box;
    border-radius: 7px 7px 0 0;
}
.send-message__to-whom-selected-img {
    display: flex;
    width: 30px;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.303);
    border-radius: 3px;
}
.send-message__to-whom-selected-data {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.send-message__to-whom-selected-name {
    padding-bottom: 3px;
}
.send-message__to-whom-selected-close {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    background-image: url(../assets/icons/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.send-message__to-whom-selected-position {
    background-color: var(--night-color);
    color: white;
    width: min-content;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: 12px;
}

.send-message__to-whom:focus {
   box-shadow: inset 0 0 0 2px var(--blend-color);
}

.send-message__message-content {
    resize: none;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    flex: 1;
    border: 0;
    border-radius: 0 0 6px 6px;
    border-top: 2px;
    outline: none;
    font-size: 16px;
    font-style: italic;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.529);
}

.send-message__message-content:focus {
    box-shadow: inset 0 0 0 2px var(--blend-color);
    transition: 0.2s ease;
}

.send-message__send-button-group {
    /* display: none; */
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px 20px;
}

.send-message__serched-list {
    position: absolute;
    z-index: 10;
}

.send-message__container:has(.send-message__to-whom input:focus) .send-message__serched-list {
    pointer-events: all;
    opacity: 1;
}

.send-message__teacher-photo {
    width: 30px;
    height: 45px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.333);
}

.send-message__serched-list {
    width: 100%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border-top: solid 1px var(--night-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.323);
    opacity: 0;
}

.send-message__teacher {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    transition: 0.1s ease;
    cursor: pointer;
}

.send-message__teacher:hover {
    background-color: var(--turquoise-color);
}

.send-message__teacher-data {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10px;
}

.send-message__teacher-name {
    color: var(--night-color);
    width: max-content;
    font-weight: bold;
    padding-bottom: 5px;
    border-radius: 10px;
}

.send-message__teacher-position {
    background-color: var(--night-color);
    color: white;
    width: max-content;
    padding: 1px 1px;
    border-radius: 10px;
}

