.send-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.send-message__container {
    max-width: 600px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    border-radius: 6px;
    transition: 0.2s ease;
}
.send-message__container:has(*:focus) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
}
.send-message__to-whom {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 6px 6px 0 0;
    border: 0;
    border-bottom: 1px solid rgb(4, 11, 83);
    outline: none;
    transition: 0.2s ease;
    font-size: 16px;
    padding: 20px 15px;
    font-style: italic;
}

.send-message__to-whom:focus {
   box-shadow: inset 0 0 0 2px var(--blend-color);
}

.send-message__message-content {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    flex: 1;
    border: 0;
    border-radius: 0 0 6px 6px;
    border-top: 2px;
    outline: none;
    padding: 20px 15px;
    font-size: 16px;
    font-style: italic;
}

.send-message__message-content:focus {
    box-shadow: inset 0 0 0 2px var(--blend-color);
    transition: 0.2s ease;
}

.send-message__send-button-group {
    display: none;
}